apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: applications
  namespace: argocd
spec:
  goTemplate: true
  generators:
  - git:
      repoURL: https://github.com/carnufex/Rosenvalls-Homelab.git
      revision: HEAD
      directories:
      - path: kubernetes/applications/*
  template:
    metadata:
      name: '{{.path.basename}}'
    spec:
      project: applications
      source:
        repoURL: https://github.com/carnufex/Rosenvalls-Homelab.git
        targetRevision: HEAD
        path: '{{.path.path}}'
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{.path.basename}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
          - ServerSideApply=true
