server:
  extraArgs:
    - --insecure
  ingress:
    enabled: true
    ingressClassName: cilium
    annotations: {}
    hosts:
      - argo.rosenvall.se
    paths:
      - /
    pathType: Prefix
    tls: []

configs:
  cm:
    kustomize.buildOptions: --enable-helm
  params:
    server.insecure: false
