apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: infrastructure
  namespace: argocd
spec:
  goTemplate: true
  generators:
  - git:
      repoURL: https://github.com/carnufex/Rosenvalls-Homelab.git
      revision: HEAD
      directories:
      - path: kubernetes/infrastructure/*/*
  template:
    metadata:
      name: '{{.path.basename}}'
      annotations:
        argocd.argoproj.io/sync-wave: '{{ if or (eq .path.basename "cilium") (eq .path.basename "longhorn") }}1{{ else if eq .path.basename "cert-manager" }}2{{ else if eq .path.basename "external-secrets" }}3{{ else }}4{{ end }}'
    spec:
      project: infrastructure
      source:
        repoURL: https://github.com/carnufex/Rosenvalls-Homelab.git
        targetRevision: HEAD
        path: '{{.path.path}}'
      destination:
        server: https://kubernetes.default.svc
        namespace: default
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        retry:
          limit: 10
          backoff:
            duration: "10s"
            factor: 2
            maxDuration: "3m"
        syncOptions:
          - CreateNamespace=true
          - ServerSideApply=true
