global:
  nameOverride: ""
  fullnameOverride: ""
  namespaceOverride: ""
  additionalLabels: {}
  revisionHistoryLimit: 3
  env: []
  envFrom:
    - secretRef:
        name: authentik-core-secrets
  volumeMounts:
    - name: db-creds
      mountPath: /secrets/authentik
      readOnly: true
  volumes:
    - name: db-creds
      secret:
        secretName: authentik-postgresql-app

authentik:
  secret_key: "env://AUTHENTIK_SECRET_KEY"
  enabled: true
  log_level: info
  events:
    context_processors:
      geoip: /geoip/GeoLite2-City.mmdb
      asn: /geoip/GeoLite2-ASN.mmdb
  web:
    path: /
  email:
    host: ""
    port: 587
    username: ""
    password: ""
    use_tls: false
    use_ssl: false
    timeout: 30
    from: ""
  outposts:
    container_image_base: ghcr.io/goauthentik/%(type)s:%(version)s
  error_reporting:
    enabled: false
    environment: "k8s"
    send_pii: false
  postgresql:
    host: authentik-postgresql-rw
    name: authentik
    user: file:///secrets/authentik/username
    password: file:///secrets/authentik/password
    port: "5432"
    sslmode: require
  redis:
    password: "env://AUTHENTIK_REDIS__PASSWORD"

blueprints:
  configMaps:
    - authentik-blueprints
  secrets: []

server:
  enabled: true
  service:
    annotations: {}
    labels: {}
    type: LoadBalancer

worker:
  enabled: true
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
  livenessProbe:
    timeoutSeconds: 5
  readinessProbe:
    timeoutSeconds: 5
  startupProbe:
    timeoutSeconds: 5

postgresql:
  enabled: false

serviceAccount:
  create: true
  annotations: {}
  serviceAccountSecret:
    enabled: false
  fullnameOverride: authentik

geoip:
  enabled: false
  editionIds: "GeoLite2-City GeoLite2-ASN"
  updateInterval: 8
  accountId: ""
  licenseKey: ""
  existingSecret:
    secretName: ""
    accountId: "account_id"
    licenseKey: "license_key"

redis:
  enabled: true
  architecture: standalone
  auth:
    enabled: true
    existingSecret: authentik-core-secrets
    existingSecretPasswordKey: redis-password
  master:
    persistence:
      enabled: true
      size: 1Gi

prometheus:
  rules:
    enabled: true

metrics:
  enabled: true
