machine:
  certSANs:
    - ${vip}
    - ${node_ip}
  kubelet:
    extraMounts:
      - destination: /var/lib/longhorn
        type: bind
        source: /var/lib/longhorn
        options:
          - bind
          - rshared
          - rw
  network:
    hostname: ${hostname}
    interfaces:
      - interface: eth0
        dhcp: false
        addresses:
          - ${node_ip}/24
        routes:
          - network: 0.0.0.0/0
            gateway: ${gateway}
        vip:
          ip: ${vip}

cluster:
  apiServer:
    extraArgs:
      oidc-issuer-url: https://authentik.rosenvall.se/application/o/headlamp/
      oidc-client-id: headlamp
      oidc-username-claim: preferred_username
      oidc-username-prefix: "authentik:"
      oidc-groups-claim: groups
      oidc-groups-prefix: "authentik:"
  network:
    cni:
      name: none
  proxy:
    disabled: true
  inlineManifests:
    - name: cilium-values
      contents: |
        ---
        apiVersion: v1
        kind: ConfigMap
        metadata:
          name: cilium-values
          namespace: kube-system
        data:
          values.yaml: |-
            ${indent(12, cilium_values)}
    - name: cilium-bootstrap
      contents: |
        ${indent(8, cilium_install)}
